.transactionHistory {
  border-collapse: collapse;
}

.title {
  padding: 10px;
  border: 1px solid #2a2a2a;
  background-color: #67a9f5;
  color: white;
}

.value {
  padding: 10px 100px;
  border: 1px solid #2a2a2a;
  text-transform: capitalize;
  text-align: center;
}
